{% extends 'base-popup.html' %}
{% load staticfiles %}
{% block content %}
    <div class="ibox-content">
        <form class="form-horizontal" id="changePasswordForm" method="post">
            {% csrf_token %}
            <input type="hidden" name='id' value="{{ instructor.id }}"/>
            <input type="hidden" name='instructor' value="save"/>
            <legend style="overflow:hidden">
                <h4 style="width: 200px;float: left">基本信息</h4>
            </legend>
            <div class="form-group row">
                <label class="col-3 col-form-label">姓名</label>
                <div class="col-8">
                    <input class="form-control" type="text" disabled value="{{ instructor.name }}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">用户名</label>
                <div class="col-8">
                    <input class="form-control" type="text" disabled value="{{ instructor.username }}"></input>
                </div>
            </div>
            <legend>
                <h4>密码信息</h4>
            </legend>
            <div class="form-group row">
                <label class="col-3 col-control-label">密码</label>
                <div class="col-8">
                    <input class="form-control" name="password" type="password" value=""/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-control-label">确认密码</label>
                <div class="col-8">
                    <input class="form-control" name="confirm_password" type="password" value=""/>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
                <div style="margin:0 auto">
                    <button type="button" id="btnClose" class="btn btn-default margin-right ">关闭</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">确定</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("#btnSave").click(function () {
            var data = $("#changePasswordForm").serialize();
            $.ajax({
                type: $("#changePasswordForm").attr('method'),
                url: "{% url 'system:instructor-password-change' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.status == 'success') {
                        swal({
                            title: "密码修改成功！",
                            type: "success",
                            confirmButtonText: "确定",
                            closeOnConfirm: true
                        }, function () {
                            parent.closePopup('#popupChangPassword');
                        });
                    } else if (msg.status == 'fail') {
                        swal({
                            title: msg.error_messages,
                            type: "warning",
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "确定",
                            closeOnConfirm: false
                        });
                    }
                    return;
                }
            });
        });


        /*点取消刷新页面*/
        $("#btnClose").click(function () {
            window.parent.closePopup();
        });
    </script>

{% endblock %}
